In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
dict = {
    "name":{'Akhil','harshith','adeeb'},
    "marks":[97,98,96,94],
    "city":['rampur','chennai','kurnool']
}